#spinny {
	display: inline-block;
	font-size: 24px;
	transition: transform 0.3s ease-in-out;
}
#spinny:hover {
	transform: rotate(720deg);
}
p {
	font-size: 16px;	
	font-family: Helvetica, sans-serif;
}
h1 {
        font-family: Helvetica, sans-serif;
}
h2 {
        font-family: Helvetica, sans-serif;
}
h3 {
        font-family: Helvetica, sans-serif;
}
h4 {
        font-family: Helvetica, sans-serif;
}
h5 {
        font-family: Helvetica, sans-serif;
}
span {
        font-family: Helvetica, sans-serif;
}
q {
        font-family: Helvetica, sans-serif;
}
ul  {
        font-family: Helvetica, sans-serif;
}
ol {
        font-family: Helvetica, sans-serif;
}

#bioPic {
	border: 2px solid black;
}

table.infotable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #c59d75;
  border-style: solid;
  color: #000000;
  font-family: Helvetica, sans-serif;
}

table.infotable td, table.infotable th {
  border-width: 2px;
  border-color: #c59d75;
  border-style: solid;
  padding: 3px;
}

table.infotable head {
  background-color: #f6d8b7;
}
@media screen and (min-width: 400px) {
	body{
	display: grid;
	grid:
	'head'
	'side'
	'main';
	}
}
@media screen and (min-width: 400px) {
	body{
	display: grid;
	grid:
	'head head' 0.25fr
	'main side' 4fr
	'main side' 1fr
	/4fr 1fr;
	}
}
.header{
	grid-area:head;
	background-color: #FFC785;
	border-radius:3px;
	padding:15px;
}

.header #title{
	font-weight: bold;
	font-size: 32px;
	vertical-align: middle;
}

.header #home{
	vertical-align: middle;
}

.maintxt{
	padding-top:15px;
	grid-area:main;
	background-color: #FFE6C9;
	text-align: center;
}	
.navtab{
	grid-area:side;
	background-color: #FFDBB5;
}

table{
	align:center;
}
#straw{
	bgcolor:"#FDF5F8";
}
#bana{
	bgcolor:"#FFF1C2";
}
