.spinny {
	display: inline-block;
	font-size: 24px;
	transition: transform 0.3s ease-in-out;
}
.spinny:hover {
	transform: rotate(720deg);
}
p {
	font-size: 16px;	

}
.portait {
	border: 2px solid black;
}
.self_portrait {
	border: 2px solid black;
}

table.infotable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #c59d75;
  border-style: solid;
  color: #000000;
}

table.infotable td, table.infotable th {
  border-width: 2px;
  border-color: #c59d75;
  border-style: solid;
  padding: 3px;
}

table.infotable head {
  background-color: #f6d8b7;
}
@media screen and (min-width: 400px) {
	body{
	display: grid;
	grid:
	'head'
	'side'
	'main';
	}
}
@media screen and (min-width: 400px) {
	body{
	display: grid;
	grid:
	'head head' 0.5fr
	'main side' 4fr
	'main side' 1fr
	/4fr 1fr;
	}
}
#header{
	grid-area:head;
	background-color: #FFC785;
}
#maintxt{
	grid-area:main;
	background-color: #FFE6C9;
	text-align: center;
}	
#navtab{
	grid-area:side;
	background-color: #FFDBB5;
}
