.spinny {
	display: inline-block;
	font-size: 24px;
	transition: transform 0.3s ease-in-out;
}
.spinny:hover {
	transform: rotate(360deg);
}
p {
	font-size: 16px;	

}
.portait {
	border: 2px solid black;
}
.self_portrait {
	border: 2px solid black;
}

table.infotable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #c59d75;
  border-style: solid;
  color: #000000;
}

table.infotable td, table.infotable th {
  border-width: 2px;
  border-color: #c59d75;
  border-style: solid;
  padding: 3px;
}

table.infotable thead {
  background-color: #f6d8b7;
}


.abouttbl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
    


.div3 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}
        
